* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {  
  width: 43.6rem;
  height: 60.8rem;

  border-radius: 2rem;
  background-image: url("/assets//backgroung.svg");

  box-shadow: 0px 294px 118px rgba(0, 0, 0, 0.03), 0px 165px 99px rgba(0, 0, 0, 0.1), 0px 73px 73px rgba(0, 0, 0, 0.17), 0px 18px 40px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 42.7rem;
  height: 55.8rem;

  position: relative;
  top: -2.4rem;
  right: -4rem;

  z-index: 999;
}

.cards h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 700;

  text-transform: uppercase;
  color: #ECE4EF;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);

}

.cards p {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;

  color: #D8CEDE;
}

.cards ul h2 {
  font-family: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;

  color: #9C83A7;
}

.cards ul li {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;

  color: #D8CEDE;
}

.card  hide {
  width: 34.8rem;
  height: 48.8rem;

  gap: 22rem;

  border-radius: 1.6rem;
  background: #121214;
  box-shadow: 0px 113px 45px rgba(0, 0, 0, 0.02), 0px 64px 38px rgba(0, 0, 0, 0.08), 0px 28px 28px rgba(0, 0, 0, 0.13), 0px 7px 16px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
}